<div class="ui centered grid" *ngIf="loaded">
  <div class="row">
    <div class="fifteen wide column">
      <header></header>
    </div>
  </div>
  <div class="row">
    <div class="eleven wide column">
      <div class="ui raised segment" [style.min-height]="clientHeight-100 +
        'px'">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="three wide column">
      <login></login>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <footer></footer>
    </div>
  </div>
</div>