
<div class="ui divider"></div>
<h4>Állás meghirdetés</h4>
<form class="ui form" *ngIf="user.isCompany">
    <div class="field">
        <label>Állás neve</label>
        <input type="text" name="name" [(ngModel)]="data.name">
    </div>
    <div class="field">
        <label>Cím</label>
        <input type="text" name="address" [(ngModel)]="data.address">
    </div>
    <div class="field">
        <label>Kezdés</label>
        <input type="date" name="starts" [(ngModel)]="data.starts">
    </div>
    <div class="field">
        <label>Vége</label>
        <input type="date" name="ends" [(ngModel)]="data.ends">
    </div>
    <div class="field">
        <label>Fizetés</label>
        <input type="number" name="salary" [(ngModel)]="data.salary">
    </div>
    <div class="field">
        <label>Max jelentkezések száma</label>
        <input type="number" name="maxApplication"
            [(ngModel)]="data.maxApplication">
    </div>
    <div class="field">
        <button style="margin-top:2%" class="ui button" (click)="addJob()"
            type="submit">Regisztráció</button>
    </div>
</form>