<div class="ui grid">
    <div class="right floated row">
        <div class="two wide column" *ngIf="searchInput.length" (click)="clearSearch()">
            <button class="ui inverted secondary icon button">
                <i class="times icon"></i>
            </button>
        </div>
        <div class="six wide right floated computer only column">
            <mat-form-field class="full-width">
                <input matInput placeholder="Search for movie" (keyup.enter)="searchMovies($event)"
                    [(ngModel)]="searchInput">
            </mat-form-field>
        </div>
        <div class="fourteen wide right floated mobile only tablet only column">
            <mat-form-field class="full-width">
                <input matInput placeholder="Search for movie" (keyup.enter)="searchMovies($event)"
                    [(ngModel)]="searchInput">
            </mat-form-field>
        </div>
    </div>
</div>
<div [class]="cardClass" *ngIf="loaded || movies.length">

    <div class="card" *ngFor="let movie of movies">
        <div class="image">
            <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w300'+movie.poster_path">
            <div *ngIf="!movie.poster_path" style="min-height: 40vh;" class="ui placeholder">
                <div class="square image"></div>
            </div>
        </div>

        <div class="content">
            <div class="header">{{movie.title}}</div>
            <div class="unclickable unselectable meta">
                <a>{{movie.genres}}</a>
            </div>
            <div class="description">
                {{movie.overview}}
            </div>

        </div>
        <div class="extra content">
            <div class="ui vertical animated button" (click)="notify(movie)">
                <div class="hidden content">Watch</div>
                <div class="visible content">
                    <i class="play icon"></i>
                </div>
            </div>
            <span class="right floated">
                {{movie.release_date}}
            </span>
        </div>
    </div>


</div>

<div class="ui active dimmer" *ngIf="!loaded || !movies.length">
    <div class="ui loader"></div>
</div>