<h3 class="ui top attached header" *ngIf="!user.success">
    Bejelentkezés
</h3>
<h3 class="ui top attached header" *ngIf="user.success">
    Felhasználó
</h3>
<div class="ui attached segment">
    <p *ngIf="sent && !user.success">Hiba</p>
    <form class="ui form" *ngIf="!user.success">
        <div class="field">
            <label>Felhasználónév</label>
            <input type="text" name="username" [(ngModel)]="data.username">
        </div>
        <div class="field">
            <label>Jelszó</label>
            <input type="password" name="password" [(ngModel)]="data.password">
        </div>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" tabindex="0" name="company"
                    [(ngModel)]="data.company" class="hidden">
                <label>Munkaadóként</label>
            </div>
        </div>
        <button class="ui primary button" type="submit" (click)="login()">Bejelentkezés</button>
    </form>
    <div *ngIf="user.success">
        {{user.username}}
        <br>
        {{user.name}}
        <br>
        {{user.email}}
        <br>
        <i *ngIf="data.company">munkaadó</i>
    </div>
</div>